* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  /* font-family: 'Markazi Text', serif; */
  font-family: "Karla", sans-serif;
}

header {
  padding: 10px 0;
  background-color: #edefee;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  font-family: "Markazi Text";
  margin: 0;
  white-space: nowrap;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Markazi Text";
  line-height: 1rem;
  margin: 0;
}

p {
  /* font-size: 1.5rem; */
  font-size: 18px;
}

button {
  background-color: #f4ce14;
  border: none;
  color: #333333;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* nav ---------------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 20%;

  @media screen and (max-width: 768px) {
    margin: 0 5%;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 70%;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding: 0 10px;
}

nav li a {
  vertical-align: middle;
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s;
  white-space: nowrap;
}

nav li a:hover {
  color: #f4ce14;
}

/* hero section ---------------------------------------- */
.hero {
  background-color: #495e57;
  padding: 40px 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.hero .content {
  flex: 1;
  color: white;
  padding-right: 20px;
}

.content h1 {
  color: #f4ce14;
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image {
  height: 300px;
  width: 300px;
  border-radius: 8px;
}

/* specials section ---------------------------------------- */

.specials {
  margin: 80px 20%;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-header h1 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .specials-header {
    flex-direction: column;
    align-items: center;
  }
}

.specials-cards {
  display: flex;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  width: 300px;
  border-radius: 15px 15px 0 0;
  background-color: #edefee;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-content {
  margin: 0 20px 20px;
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-price p {
  color: #ee9472;
  margin: 0;
}

.card-description {
  margin-top: 10px;
  color: #888888;
  font-size: 1.25rem;
  height: 150px;
}

.order-delivery {
  margin-top: auto;
  margin-bottom: 10px;
  white-space: nowrap;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .specials {
    margin: 0 10%;
  }
  .specials-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* testimonials section ---------------------------------------- */
.testimonials {
  height: 80%;
  padding: 100px 20%;
  text-align: center;
  background-color: #edefee;
}

.testimonials h2 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.testimonial-cards {
  text-align: start;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.testimonial-card {
  width: 250px;
  height: 200px;
  padding: 0 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-card img {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.testimonial-image-name {
  display: flex;
  justify-content: space-between;
}

/* about section ---------------------------------------- */
.about {
  background-color: #495e57;
  height: 800px;
  padding: 40px 20%;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.about .about-content {
  width: 50%;
  margin-right: 15%;
  color: white;
  padding-right: 20px;
}

.about-content h1 {
  color: #f4ce14;
}

.about-image-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.about-image {
  position: absolute;
  top: 25%;
  left: -25%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.about-image-overlap {
  position: absolute;
  top: -25%;
  left: 0;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* footer ---------------------------------------- */
footer {
  background-color: #edefee;
  padding: 80px 20% 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
